<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>
<body>
    <div class="articles" id="articles">
        <h1> all Articales    <%=name.length %>  </h1>
        <% for( let I = 0 ; I < name.length ; I++ ) { %>
            <div style="background-color: chocolate;color: rgb(15, 15, 158);font-size: 50px;">
                <p>Title =   <%= name[I].title %></p>
                <p>ID =  <%=name[I].id %></p>
                <hr>
            </div>
        <% } %>
    </div>
</body>
</html>