<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/article" method="post" style="background-color:cadetblue,;">
        <input type="text" name="titleeee" placeholder="Title" style="background-color: rgb(233, 194, 194);font-size: larger;margin-left: 500px;margin-top: 20px;color: rgb(78, 61, 233);"><br><br>
        <textarea name="boody"  placeholder=" 'Body' Please enter your article here ......" rows="20" cols="25" style="background-color: rgb(233, 194, 194);font-size: larger;margin-left: 500px;margin-top: 20px;color:rgb(78, 61, 233);"></textarea><br>
        <input type="submit" value="send" style="background-color: rgb(187, 115, 115);font-size: larger;margin-left: 500px;margin-top: 20px;color: aliceblue;" >
        <input type="file" name="image" style="background-color: rgb(187, 115, 115);font-size: larger;margin-left: 500px;margin-top: 20px;color: aliceblue;">
    </form>
</body>
</html>